<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="page-header text-center">
      <h1> Главная страница интернет-магазина </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <p class="lead text-justify">
      Наш интернет-магазин обладает широким перечнем товаров в самых различных категориях. У нас Вы можете найти любой интересующий Вас товар по приемлимым ценам.
    </p>
    <p class="text-center">
      <small>
        Для того, чтобы выполнить заказ интересующего Вас товара необходимо зарегистрироваться на сайте.
      </small>
    </p>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
   <h2 class="text-center">
     Основные категории товаров
   </h2>
   <hr>
  </div>
</div>

<% countCategories  = categories.count %>
<% countLines  = countCategories / 6 %>
<% excessCategories = countCategories % 6 %>
<% countCategoriesOnTheLine = 6 %>

<% if countLines > 0 then %>
<%   currentLine = 1 %>
<%   while currentLine <= countLines do %>
<div class="row text-center">
  <%   element = 0 %>
  <%   while element < countCategoriesOnTheLine do %>
  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
    <div>
      <p>
      <% index = element + (currentLine - 1) * countCategoriesOnTheLine %>
      <%= link_to categories[index].name, category_path(categories[index]) %>
      <% element += 1 %>
      </p>
    </div>
  </div>
  <%   end %>
  <% currentLine += 1  %>
</div>
<hr>
<%   end %>
<% end %>

<% if excessCategories != 0 then %>
<div class="row text-center">

  <% if excessCategories == 5 then %>
  <div class="col-xs-1">
  </div>
  <% element = 0 %>
  <%   while element < excessCategories do %>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
    <%   index = element + countLines * countCategoriesOnTheLine %>
    <%=  link_to categories[index].name, category_path(categories[index]) %>
    <%   element += 1 %>
    <hr>
    </div>
  <%   end %>
  <div class="col-xs-1">
  </div>
  <% end %>

  <% if excessCategories != 5 then %>
  <% columns = 12 / excessCategories %>
  <% element = 0 %>
  <%   while element < excessCategories do %>
  <div class="col-xs-<%= columns %> col-sm-<%= columns %> col-md-4 col-lg-4">
  <%     index = element + countLines * countCategoriesOnTheLine %>
  <%=    link_to categories[index].name, category_path(categories[index]) %>
  <%     element += 1 %>
  </div>
  <%   end %>
  <% end %>

</div>
<hr>
<% end %>
