<div id="info_about_order">

<% if orders.count == 0 then %>
  <p class="lead">У Вас нет ни одного активного заказа. </p>
<% else %>
  <h3 class="text-center">Активные заказы</h3>
  <hr>
<% end %>

<% orders.each do |order| %>
  <p> Заказ № <%= order.id %> <p>
  <p> Статус: <% if !order.status then %> не выполнен <% else %> выполнен <% end %> <p>
  <% products = order.products %>
  <% cost = 0 %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Наименование товара</th>
        <th>Стоимость</th>
        <th>Количество</th>
        <th colspan="2" class="text-center">Доступные действия над заказом</th>
      </tr>
    </thead>
    <tbody>
      <% products.each do |product| %>
      <% position = product.positions.where("product_id = #{product.id} and order_id = #{order.id}").first %>
      <tr>
        <td>
          <%= product.name %>
        </td>
        <td>
          <%= product.price %>
        </td>
        <td>
          <%= number_field_tag "quantity", position.quantity, min: 1, class: "form-control q", id: position.id, data: { remote: true } %>
          <% $quantity %>
        </td>
        <td>
          <%= link_to "Изменить количество товара в позиции", change_quantity_orders_path(position.id), method: :get, data: { turbolinks: false } %>
        </td>
        <td>
          <%= link_to "Удалить", delete_product_orders_path(order.id, product.id), method: :delete, data: { turbolinks: false } %>
        </td>
      </tr>
      <% cost += product.price * position.quantity %>
      <% end %>
    </tbody>
  </table>
  <p>Суммарная стоимость заказа = <span id="cost"><%= cost %></span></p>
  <p><%= link_to "Приобрести товары из заказа", buy_orders_path(order.id), method: :get %></p>
  <p><%= link_to "Удалить заказ", order_path(order), method: :delete %></p>
  <hr>
<% end %>

<p class="lead"> <%= link_to "Просмотреть мою историю заказов", "orders/history" %> </p>
</div>
