<div class="page-header hero-unit text-center">
  <h2>История заказов</h2>
</div>

<% @orders.each do |order| %>
  <p>Заказ № <%= order.id %></p>
  <p>Статус: <b><% if !order.status then %> не выполнен <% else %> выполнен <% end %></b><p>
  <% $products = order.products %>
  <% $cost = 0 %>
  <table class="table table-hover text-center ">
    <thead>
      <tr>
        <th class="text-center">Наименование товара</th>
        <th class="text-center">Стоимость</th>
        <th class="text-center">Количество единиц товара</th>
      </tr>
    </thead>
    <tbody>
      <% $products.each do |product| %>
      <tr>
        <td>
          <%= product.name %>
        </td>
        <td>
          <%= product.price %>
        </td>
        <td>
          <%= product.positions.where("product_id = #{product.id} and order_id = #{order.id}").first.quantity %>
        </td>
      </tr>
      <% $cost += product.price * product.positions.where("product_id = #{product.id} and order_id = #{order.id}").first.quantity %>
      <% end %>
    </tbody>
  </table>
  <p>Суммарная стоимость заказа = <%= $cost %></p>
  <hr>
<% end %>
