<script type="text/javascript" language="javascript" data-turbolinks-eval="false">
  $(document).ready(function() {
    $(".quantity").bind('change', function () {
      var position_id = $(this).attr('id');
      var quantity = $(this).val();
      $.ajax({
        url: '<%= quantity_orders_path %>/',
        type: 'GET',
        dataType: 'html',
        data: {position_id: position_id, quantity: quantity},
        success: function(result){
          $('#cost').html(result)
        }
      })
    })
  })
</script>

<div class="page-header hero-unit text-center">
  <h2>Информация о заказах</h2>
</div>

<div>
  <p>Здесь Вы можете просмотреть всю информацию о Ваших заказах.</p>
  <p>Ниже можно увидеть инофрмацию о неоформленных заказах, если они имеются. Вы можете их редактировать.</p>
</div>

<div id="info_about_order">

<% if @orders.count == 0 then %>
  <p class="lead">У Вас нет ни одного активного заказа. </p>
<% else %>
  <h3 class="text-center">Активные заказы</h3>
  <hr>
<% end %>

<% @orders.each do |order| %>
  <p> Заказ № <%= order.id %> <p>
  <p> Статус: <% if !order.status then %> не выполнен <% else %> выполнен <% end %> <p>
  <% products = order.products %>
  <% cost = 0 %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Наименование товара</th>
        <th>Стоимость</th>
        <th>Количество</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% products.each do |product| %>
      <% position = product.positions.where("product_id = #{product.id} and order_id = #{order.id}").first %>
      <tr id="position_<%= position.id %>">
        <td>
          <%= product.name %>
        </td>
        <td>
          <%= product.price %>
        </td>
        <td>
          <%= number_field_tag "quantity", position.quantity, min: 1, class: "form-control quantity", id: position.id %>
        </td>
        <td>
          <%= link_to "Удалить товар из заказа", delete_product_orders_path(order.id, product.id), method: :delete, remote: true %>
        </td>
      </tr>
      <% cost += product.price * position.quantity %>
      <% end %>
    </tbody>
  </table>
  <p>Суммарная стоимость заказа: <span id="cost"><%= cost %></span> р.</p>
  <p><%= link_to "Приобрести товары из заказа", buy_orders_path(order.id), method: :get %></p>
  <p><%= link_to "Удалить заказ", order_path(order), method: :delete %></p>
  <hr>
<% end %>

<p class="lead"> <%= link_to "Просмотреть мою историю заказов", "orders/history" %> </p>
</div>
