<div class="page-header hero-unit text-center">
  <h2>Информация о заказах</h2>
</div>

<div>
  <p>Здесь Вы можете просмотреть всю информацию о Ваших заказах.</p>
  <p>Ниже можно увидеть инофрмацию о неоформленных заказах, если они имеются. Вы можете их редактировать.</p>
</div>

<div>
<% if @orders.count == 0 then %>
  <p class="lead">У Вас нет ни одного активного заказа. </p>
<% else %>
  <h3 class="text-center">Активные заказы</h3>
  <hr>
<% end %>

<% @orders.each do |order| %>
  <p> Заказ № <%= order.id %> <p>
  <p> Статус: <% if !order.status then %> не выполнен <% else %> выполнен <% end %> <p>
  <% $products = order.products %>
  <% $cost = 0 %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Наименование товара</th>
        <th>Стоимость</th>
        <th>Количество</th>
        <th colspan="2" class="text-center">Доступные действия над заказом</th>
      </tr>
    </thead>
    <tbody>
      <% $products.each do |product| %>
      <tr>
        <td>
          <%= product.name %>
        </td>
        <td>
          <%= product.price %>
        </td>
        <td>
          <%= product.positions.where("product_id = #{product.id} and order_id = #{order.id}").first.quantity %>
        </td>
        <td>
          <%= link_to "Изменить количество товара в позиции", "orders/change_quantity/#{product.positions.where("product_id = #{product.id} and order_id = #{order.id}").first.id}", method: :get %>
        </td>
        <td>
          <%= link_to "Удалить", "orders/delete_product/#{order.id}/#{product.id}", method: :delete %>
        </td>
      </tr>
      <% $cost += product.price * product.positions.where("product_id = #{product.id} and order_id = #{order.id}").first.quantity %>
      <% end %>
    </tbody>
  </table>
  <p>Суммарная стоимость заказа = <%= $cost %></p>
  <p><%= link_to "Приобрести товары из заказа", "orders/buy/#{order.id}", methot: :get %></p>
  <p><%= link_to "Удалить заказ", order_path(order), method: :delete %></p>
  <hr>
<% end %>

<p class="lead"> <%= link_to "Просмотреть мою историю заказов", "orders/history" %> </p>
</div>
