<table>
  <tr>
    <th> Имя пользователя </th>
    <th> Права администратора </th>
    <th> Права модератора </th>
    <th> Права пользователя </th>
    <th> Редактировать </th>
    <th> Удалить </th>
  </tr>
<% @users.each do |user| %>
  </tr>
    <td> <%= user.email %> </td>
    <td> <%= user.admin_role %> </td>
    <td> <%= user.supervisor_role %> </td>
    <td> <%= user.user_role %> </td>
    <td> <%= link_to "Редактировать пользователя", edit_administrator_path(user.id), method: :get %> </td>
    <td> <%= link_to "Удалить пользователя", administrator_path(user.id), method: :delete %> </td>
  </tr>
<% end %>
</table>

<%= link_to "Создать нового пользователя", new_administrator_path %>
