<div class="page-header text-center">
  <h2>Основные категории товаров</h2>
</div>

<% if (!user_signed_in?) or (user_signed_in? and current_user.user_role) then %>
<% $count  = @categories.count %>
<% $lines  = $count / 6 %>
<% $remain = $count % 6 %>
<% if $lines > 0 then %>
<%   $l = 1 %>
<%   $k = 6 %>
<%   while $l <= $lines do %>
<div class="row text-center">
  <%   $element = 0 %>
  <%   while $element < 6 do %>
  <div class="col-xs-2">
  <%     $index = $element + ($l - 1) * $k %>
  <%=    link_to @categories[$index].name, category_path(@categories[$index]) %>
  <%     $element += 1 %>
  </div>
  <%   end %>
  <% $l += 1  %>
</div>
<hr>
<%   end %>
<% end %>

<% if $remain != 0 then %>
<div class="row text-center">
  <% if $remain == 5 then%>
  <div class="col-xs-1">
  </div>
  <% $element = 0 %>
  <%   while $element < $remain do %>
    <div class="col-xs-2">
    <%   $index = $element + $lines * $k %>
    <%=  link_to @categories[$index].name, category_path(@categories[$index]) %>
    <%   $element += 1 %>
    </div>
  <%   end %>
  <div class="col-xs-1">
  </div>
  <% end %>
  <% if $remain != 5 then %>
  <% $columns = 12 / $remain %>
  <% $element = 0 %>
  <%   while $element < $remain do %>
  <div class="col-xs-<%= $columns %>">
  <%     $index = $element + $lines * $k %>
  <%=    link_to @categories[$index].name, category_path(@categories[$index]) %>
  <%     $element += 1 %>
  </div>
  <%   end %>
  <% end %>
</div>
<hr>
<% end %>
<% end %>

<% if can? :manage, Category %>
<table class="table table-hover text-center">
  <thead>
    <tr>
      <th>Название категории</th>
      <th>Ссылка на все товары из данной категории</th>
      <% if can? :manage, Category then %>
      <th colspan="2"> Доступные действия над категориями </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %> </td>
      <td><%= link_to 'Показать все товары из данной категории', category_path(category)%> </td>
      <% if can? :manage, Category then %>
      <td> <%= link_to "Редактировать", edit_category_path(category) %> </td>
      <td> <%= link_to "Удалить", category_path(category), method: :delete %> </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
