<div class="page-header text-center">
  <h2>Основные категории товаров</h2>
</div>

<% if (!user_signed_in?) or (user_signed_in? and current_user.user_role) then %>
<% countCategories  = categories.count %>
<% countLines  = countCategories / 6 %>
<% excessCategories = countCategories % 6 %>
<% categoriesOnTheLine = 6 %>

<% if countLines > 0 then %>
<%   currentLine = 1 %>
<%   categoriesOnTheLine = 6 %>
<%   while currentLine <= countLines do %>
<div class="row text-center">
  <%   element = 0 %>
  <%   while element < 6 do %>
  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
    <div>
      <p>
      <% index = element + (currentLine - 1) * categoriesOnTheLine %>
      <%= link_to categories[index].name, category_path(categories[index]) %>
      <% element += 1 %>
      </p>
    </div>
  </div>
  <%   end %>
  <% currentLine += 1  %>
</div>
<hr>
<%   end %>
<% end %>

<% if excessCategories != 0 then %>
<div class="row text-center">

  <% if excessCategories == 5 then%>
  <div class="col-xs-1">
  </div>
  <% element = 0 %>
  <%   while element < excessCategories do %>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
    <%   index = element + countLines * categoriesOnTheLine %>
    <%=  link_to categories[index].name, category_path(categories[index]) %>
    <%   element += 1 %>
    <hr>
    </div>
  <%   end %>
  <div class="col-xs-1">
  </div>
  <% end %>

  <% if excessCategories != 5 then %>
  <% $columns = 12 / excessCategories %>
  <% element = 0 %>
  <%   while element < excessCategories do %>
  <div class="col-xs-<%= $columns %> col-sm-<%= $columns %> col-md-4 col-lg-4">
  <%     index = element + countLines * categoriesOnTheLine %>
  <%=    link_to categories[index].name, category_path(categories[index]) %>
  <%     element += 1 %>
  </div>
  <%   end %>
  <% end %>
</div>
<hr>
<% end %>
<% end %>

<% if can? :manage, Category %>
<div class="hidden-md hidden-lg">
  <p class="lead text-justify">
    <b>
      Выполнение операций редактирования товаров и категорий с мобильной версии сайта ограничено.
    </b>
  </p>
</div>
<table class="table table-hover text-center">
  <thead>
    <tr>
      <th>Ссылка на все товары из данной категории</th>
      <% if can? :manage, Category then %>
      <th colspan="2" class="hidden-xs hidden-sm"> Доступные действия над категориями </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% categories.each do |category| %>
    <tr>
      <td><%= link_to category.name, category_path(category)%> </td>
      <% if can? :manage, Category then %>
      <td class="hidden-xs hidden-sm"> <%= link_to "Редактировать", edit_category_path(category) %> </td>
      <td class="hidden-xs hidden-sm"> <%= link_to "Удалить", category_path(category), method: :delete %> </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
