<div>
  Название категории : <b> <%= @category.name %> </b>
<div>

<% if ( @subcategories.count > 0 ) then %>
  <table class="subcategory">
    <tr>
      <th>Название подкатегории</th>
      <% if can? :manage, Category then %>
      <th> </th>
      <th> </th>
      <% end %>
    </tr>

    <% @subcategories.each do |subcategory| %>
    <%
      if @dontshow.include? subcategory.id then
        next
      end
    %>
    <tr>
      <td> <%= link_to(subcategory.name, category_path(subcategory)) %> </td>
      <% if can? :manage, Category then %>
      <td> <%= link_to "Редактировать", edit_category_path(subcategory) %> </td>
      <td> <%= link_to "Удалить", category_path(subcategory), method: :delete %> </td>
      <% end %>
    </tr>
    <% end %>
</table>
<% end %>

<% $products = Product.where(category_id: @category.id) %>
<% if ( $products.count != 0) then%>
<table class="products">
    <tr>
      <th>Название товара</th>
      <th>Цена товара</th>
      <th></th>
    </tr>
<% $products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td><img src="<%= product.picture %>"></td>
      <% if can? :manage, Product then%>
      <td><%= link_to "Редактировать", edit_product_path(product.id)%></td>
      <% end %>
    </tr>
<% end %>
</table>
<% end %>
