<div style="padding-top: 10px" class="form-horizontal">
<%= form_for :product, url: product_path, method: :patch do |p| %>
  <div class="form-group">
    <%= p.label :name, "Наименование", class: "col-xs-2 control-label" %>
    <div class="col-xs-10">
    <%= p.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= p.label :price, "Стоиомость", class: "col-xs-2 control-label" %>
    <div class="col-xs-10">
    <%= p.text_field :price,class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= p.label :pic, "Изображение", class: "col-xs-2 control-label" %>
    <div class="col-xs-10">
    <%= p.file_field :pic, class: "file" %>
    </div>
  </div>

  <div class="form-group">
    <%= p.label :description, "Описание", class: "col-xs-2 control-label" %>
    <div class="col-xs-10">
    <%= p.text_area :description, size: "80x15", class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-offset-2 col-xs-10">
    <%= p.submit "Сохранить изменения", class: "btn btn-default" %>
    </div>
  </div>
<% end %>
</div>
