<h2 class="h2 page-header text-center">
  <%= @product.name %><small> описание</small>
</h2>
<div class="row">
  <div class="col-xs-3">
    <img class="img-responsive" src="<%= if @product.pic_url == nil then @product.picture else @product.pic_url end  %>">
  </div>
  <div class="col-xs-9">
    <p class = "text-justify"> Стоимость: <%= @product.price %> </p>
    <p class = "text-justify"> Рейтинг: <%= @product.rating %> </p>
    <p class = "text-justify"> <%= @product.description %> </p>
    <% if (can? :manage, Order) and user_signed_in? then %>
    <p class="text-justify"><%= link_to "Заказать", add_product_orders_path(@product.id), method: :post, remote: true %></th>
    <% end %>
  </div>
</div>
