<!DOCTYPE html>
<html>
  <head>
    <title>Интернет-магазин</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav">
    <% if user_signed_in? %>
      Вы вошли как <%= current_user.email %>.
      <%= link_to "Выйти", destroy_user_session_path, :method => :delete %>
      <%= link_to "Редактировать профиль", edit_user_registration_path%>
    <% else %>
      <%= link_to "Зарегистрироваться", new_user_registration_path %> или <%= link_to "войти", new_user_session_path %>
    <% end %>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>
  </div>

    <div class="content">
    <%= yield %>
  </div>
  </body>
</html>
