<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="yandex-verification" content="963e08b244167e8f" />
    <title>Интернет-магазин</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.js"></script>
    <%= stylesheet_link_tag    'search' %>
    <%= stylesheet_link_tag    'messages' %>
    <%= stylesheet_link_tag    'pagination' %>
    <%= stylesheet_link_tag    'preview-image' %>
    <%= stylesheet_link_tag    'description-image' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Yandex.Metrika counter -->
    <!-- <script type="text/javascript" >
      (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
          try {
            w.yaCounter45534669 = new Ya.Metrika({
              id:45534669,
              clickmap:true,
              trackLinks:true,
              accurateTrackBounce:true,
              webvisor:true,
              trackHash:true
            });
          } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/45534669" style="position:absolute; left:-9999px;" alt="" /></div></noscript> -->
    <!-- /Yandex.Metrika counter -->
  </head>

  <body>
    <div class ="nav navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-menu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="navigation-menu">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to "Главная страница", root_path, :data => {:togle => "tab"} %>
            </li>
            <li>
              <%= link_to "Категории товара", categories_path, :data => {:togle => "tab"} %>
            </li>
            <li>
              <%= link_to "Товары", products_path %>
            </li>
          </ul>
          <%= form_tag("/search/search", method: "get", class: "navbar-form navbar-left") do %>
            <div class="form-group">
              <%= text_field_tag :search, params[:search], placeholder: "Поиск", class: "form-control", id: "search-field" %>
            </div>
            <%= submit_tag "Искать", name: nil, class: "btn btn-default" %>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
            <li class="dropdown">
              <%= link_to("#", :class => "dropdown-toggle", :data => { :toggle => "dropdown"}) do %>
                Моя учетная запись <span class="caret"></span>
              <% end %>
              <ul class="dropdown-menu" role="menu">
                <% # if can? :manage, :all then %>
                <% if user_signed_in? && current_user.admin_role? %>
                <li>
                  <%= link_to "Страница администратора", administrator_index_path%>
                </li>
                <li class="divider"></li>
                <% end %>
                <% # if can? :manage, Order then %>
                <% if user_signed_in? && current_user.user_role? then %>
                <li>
                  <%= link_to "Ваши заказы", orders_path%>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Написать в службу поддержки", chat_support_write_path %>
                </li>
                <li class="divider"></li>
                <% end %>
                <li>
                  <%= link_to "Редактировать профиль", edit_user_registration_path%>
                </li>
                <li>
                  <%= link_to "Выйти", destroy_user_session_path, :method => :delete%>
                </li>
              </ul>
            </li>
            <% else %>
            <li>
              <%= link_to "Зарегистрироваться", new_user_registration_path, :data => {:togle => "tab"} %>
            </li>
            <li>
              <%= link_to "Войти", new_user_session_path , :data => {:togle => "tab"}%>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container search-autocomplete">
      <div id="search-results" class="search-results">
      </div>
    </div>

  <% flash.each do |name, msg| %>
  <div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= msg %>
  </div>
  <% end %>

  <div class="container-fluid">
        <%= yield %>
  </div>

  </body>
</html>
